/* Reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  background-color: rgb(244, 244, 213);
}

.monthView {
  width: 1000px;
}

/* Banner */
.banner{
  display: inline-block;
  width: 1000px;
  margin: 15px 40px;
  color: rgb(156, 156, 128);
}

.title {
  float: left;
}

.year {
  float: right;
}

/* Month */

.month {
  display: flex;
  align-items: baseline;
  gap: 100px;
  padding-left: 270px;
  margin-left: 90px;
  border-bottom: 1px solid black;
  width: 850px;
}

/* Weekdays */
.days{
  margin: 20px 30px;
  display: grid;
  grid-template-columns: 125px 125px 125px 160px 125px 125px 125px;
  grid-template-rows: auto; 
  column-gap: 20px;
  row-gap: 20px;
  text-align: center;
  z-index: 2;
}

/* Arrows */
.arrows {
  width: 1100px;
  top: 250px;
  z-index: 1;
  position: fixed;
  background-color: transparent
}
.arrow {
  height: 50px;
  width: 50px;
  z-index: 1;
}

.right {
  float: right;
}