/* Reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  background-color: rgb(244, 244, 213);
}

.App {
  display: flex;
}

.monthview {
  width: 840px;
}

/* Banner */
.banner{
  display: inline-block;
  width: 800px;
  margin: 15px 40px;
  color: #7cc0c9;
}

.title {
  float: left;
}

.year {
  float: right;
}

/* Month */

.month {
  display: flex;
  align-items: baseline;
  gap: 100px;
  padding-left: 200px;
  margin-left: 30px;
  border-bottom: 1px solid black;
  width: 850px;
  color: #7cc0c9;
  padding-bottom: 10px;
}

/* Weekdays */
.weekdays {
  text-align: center;
  margin: 20px 20px;
}

.grid{
  display: grid;
  grid-template-columns: 90px 90px 90px 130px 90px 90px 90px;
  grid-template-rows: auto; 
  column-gap: 20px;
  row-gap: 20px;
  justify-content: space-evenly;
}

.days{
  margin: 20px 30px;
  height: 400px;
  text-align: center;
  z-index: 2;
  color: #839395;
}

.today{
  font-size: 24px;
}

/* Arrows */
.arrows {
  width: 870px;
  top: 350px;
  z-index: 1;
  position: fixed;
  background-color: transparent
}
.arrow {
  height: 50px;
  width: 50px;
  z-index: 1;
}

.right {
  float: right;
}

/* Events */
.event-cont {
  margin: 0 30px;
  width: 350px;
  height: 550px;
  background-size: cover;
  position: relative;
  background-image:linear-gradient(to bottom, rgba(209, 226, 188, 0.9) 0%,rgba(160, 236, 247, 0.5)), url('./media/mountain.jpg');
}

.clr-bck {
  background-color: transparent;
  color: white;
  text-decoration: none;
}

.signin {
  position: absolute;
  right: 0;
  margin: 20px 30px;
}

.addevent {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-flex;
}

.plus {
  border-radius: 25%;
  width: fit-content;
}

.ev-today {
  position: absolute;
  top: 60px;
  left: 50px;
}

.ev-month {
  position: absolute;
  top: 100px;
  left:  50px;
  font-size: xx-large;
}

.ev-date {
  position: absolute;
  font-size: xx-large;
  top: 100px;
  left: 200px;
}